
.listing-img-container{
/* width: 640px !important; */
height: 350px !important;
width: auto;
object-fit: contain !important;
padding: 25px 40px;

}
.listing-img-container img{
    height: 100%;
    width:100%
}


.main-item{
height: 85vh !important;
width: 100%!important;
object-fit:contain !important;
}
.main-item img{
    height:100% !important;
    width: 100% !important;
    object-fit:fill !important;
}

.agent-btn{
    margin-bottom: 100px !important;
}

/* ============================about us======================= */
.team-img2{
height: 280px !important;
width: 100%;
}
.gallery-1{
    height: 280px !important;
    border: 3px solid #E62226;
    padding: 5px;
    border-radius: 2px;
}
.w-40{
    width: 100px !important;
}
.det{
    width: 100px !important;
}
.sub-banner3{
    height: 80vh !important;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/aa1.jpg);
    background-size: cover;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* =================================================gallery detail page===================== */
.deatil{
    height: 45vh !important;
    background: linear-gradient(rgba(255, 255, 255,0.826),rgba(251, 251, 251, 0.826)), url(../images/aa3.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deatil h3{
    font-size: 25px;
    font-weight: 600 !important;
}

.deatil p{
    font-size: 18px;
}
.d-flex {
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.list{
    list-style:disc !important;
}
.detail-img{
    height: 350px !important;
    object-fit: fill;
}
.deatil3{
    height: 70vh !important;
    background: linear-gradient(rgba(255, 255, 255,0.826),rgba(251, 251, 251, 0.826)), url(../images/aa3.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-icon svg{
    color: #ff4900;
    fill: #ff4900;
   
}
.feature-text{
    font-size: 23px;
    font-weight: 500;
    margin: 0px 10px;
    white-space: nowrap;
}



/* ad chat icons============================= */
.whatsaap-icon{
    position: fixed;
    right: 40px;
    bottom: 30px;
    height: 45px;
    width: 45px;
    background-color: #55EE6B;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 1000;
}
.whatsaap-icon svg{

    height: 45px;
    width: 45px;
   color: white;
   fill: white;
}


.chat-icon{
    position: fixed;
   left: 40px;
    bottom: 30px;
    height: 45px;
    width: 45px;
    background-color: #ff4900;
    
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 1000;
}
.chat-icon svg{

    height: 45px;
    width: 45px;
   color: white;
   fill: white;
}
/* ==========================
pagination
 ==================================*/
 .pagination {
    display: inline-block;
    padding-bottom: 40px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ff4900;
    border: 1px solid #ff4900;
  }
  .pagination a:hover:not(.active) {
    background-color: #E62226;
    color: white;
}
.pagination a.active {
    background-color: #E62226;
    color: white;
  }
 
@media screen and (max-width: 1200px) {
    .deatil{
        height:80vh !important ;
    }
    .deatil3{
        height:100% !important ;
    }
  }

  @media screen and (max-width: 767px) {
    .whatsaap-icon{
        position: fixed;
        right: 10px;
        bottom: 30px;
        height: 40px;
        width: 40px;
        background-color: #55EE6B;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .whatsaap-icon svg{
    
        height: 30px;
        width: 30px;
       color: white;
       fill: white;
    }
    
    
    .chat-icon{
        position: fixed;
       left: 10px;
        bottom: 30px;
        height: 40px;
        width: 40px;
        background-color: #EC5352;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .chat-icon svg{
    
        height: 30px;
        width: 30px;
       color: white;
       fill: white;
    }
    .emaill{
        font-size: 10px !important;
    }
   
  }
  .plot-sizes h6{
      font-size: 18px;
      font-weight: 600;
}
.plot-sizes ul li{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.button-theme{
margin-top: 0% !important;
}


/* index */
.testimonial-section-two .slider-testimonial-two .testimonial-block-panel{
    min-height: 350px !important;
}
/* -----------------sectors */
.sector-area{
    border-bottom: 2px solid #E62226;
    padding-bottom: 10px;
}
.sector-name{
    font-size: 25px !important;
    color: #E62226;
    font-style: normal;
    font-weight: 700;
    
}
.sector-name-margin{
    margin-top: 50px;
}
.sector-link{
    font-size: 18px;
    color: black;
    font-weight: 500;
}